body{
    margin: 0 auto;
    padding: 0;
    background-image: url('bg.jpg');
    background-position: center;
    background: linear-gradient(to right, #ffefba, #ffffff) top right no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
.main{
    max-width: 650px;
    margin: 0 auto;
    padding: 0;
}
input,
textarea {
    background-color: #666;
    color: #FFF;
}
.vertical{
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin: auto;
}
.form-paded{
    padding: 0 0 10px;
}
.body {
    padding-top: 80px;
}

.body > *{
    margin: 10px 0;
}