body{
    margin: 0 auto;
    padding: 0;
}
.main{
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
}
input,
textarea {
    background-color: #666;
    color: #FFF;
}
nav{
    margin-bottom: 10px;
}