{% extends "base.html" %}

{% block nav %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{{url_for('static', filename='images/icon.ico')}}" alt="logo" width="30" height="30"></a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/explore">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/{{ username }}">@{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="btn btn-outline-secondary" title="Logout"><i class="bi bi-box-arrow-right"></i></a>
        </li>
      </ul>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
{% endblock %}
