{% extends "home_base.html" %}

{% block title %}Home{% endblock %}


{% block body %}
<script>
    function dismiss_alert(){
        document.querySelector('alert').remove()
    }
    function waitAndClose(){
        console.log("Hey Guys")
        document.setInterval(dismiss_alert(), 4)
        console.log('Hey world')
    }
</script>
<div class="body container gap-3">
  {% if tweet_sucess==True %}
      <div class="alert alert-success" role="alert" onload="waitAndClose()">Your tweet was sucessfully posted.</div>
  {% elif tweet_sucess==False %}
      <div class="alert alert-danger" role="alert">There was a problem posting your tweet.</div>
  {% elif tweet_sucess==None %}
  {% endif %}
  
  <div class="flex between">
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#tweet-card" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Tweet Something</a>
    <div>
      <ul class="nav nav-tabs">
        <li class="nav-tabs"><a href="?all=true" class="nav-link {% if all %}active{% endif %}">All Tweets</a></li>
        <li class="nav-item"><a href="/" class="nav-link {% if not all %}active{% endif %}">From Follows</a></li>
      </ul>
    </div>
  </div>
  <div class="tweet-card collapse" id="tweet-card">
    <div class="card card-body">
      <h4 class="h4">Tweet Something</h4>
      <form method="POST">
          <div class="mb-3">
              <label for="tweet" class="form-label">Tweet</label>
              <textarea class="form-control" name="tweet" id="tweet" placeholder="Write your tweet text here..." required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Tweet it</button>
      </form>
    </div>
  </div>
  {% if tweets %}
    <h1 class="h1">Recent Tweets</h1>
  {% endif %}
  {% for tweet in tweets %}
    <div class="card shadow" id="{{ tweet['tweet_id'] }}">
      <div class="card-header">
        By {% if tweet['name'] %}
            {{ ' ' + tweet['name'] }}
          {% endif %}  <a href="/user/{{ tweet['username'] }}">@{{tweet['username']}}</a>
      </div>
      <div class="card-body">
        <h5 class="card-text"></h5>
        <p class="card-title">{{tweet['tweet_content']}}</p>
      </div>
      <div class="card-footer text-muted">
        tweeted {{ tweet['tweet_at'] }}
      </div>
    </div>
  {% endfor %}
  {% if not tweets %}
    <div class="card shadow" id="notfound" style="text-align: center; padding: 30px; box-sizing: border-box; border-radius: 20px;">
      <img src="/static/images/followmore.svg" alt="Follow more users">
      <h2>Follow Some Users</h2>
      <p>Twitter-4-Men becomes more enjoyable when you follow people you're interested in. Go to the 'Explore' tab to find people to follow, or select the 'All' </p>
    </div>
  {% endif %}
  <div class="end">
    
  </div>
</div>

{% endblock %}