{% extends "home_base.html" %}

{% block title %}
@{{ username }} on
{% endblock %}

{% block body %}

<div class="body container">
    <!-- User Info -->
    <div class="card shadow" id="{{ data['username'] }}">
        <div class="card-body">
            <div style="display: flex; justify-content: space-between;">
                <h5 class="card-text">
                    {% if data['name'] %}
                    {{ data['name'] }}
                    {% endif %}
                </h5>
                <form method="POST">
                    {% if following is None %}
                        <!-- No follow button since it's your id -->
                    {% elif following == False %}
                        <button class="btn btn-primary" type="submit">Follow</button>
                    {% elif following == True %}
                        <button class="btn btn-link" type="submit">unFollow</button>
                    {% endif %}
                </form>
            </div>
            <p><a href="/user/{{ data['username'] }}">@{{ data['username'] }}</a></p>
        </div>
        <div class="card-content card-footer">
            Joined {{ data['created_at'] }}, Has made {{ data['number_tweets'] }} tweets. Has {{ data['followers'] }} Follwers
        </div>
    </div>
    <!-- User Tweets -->
    {% for tweet in data['tweets'] %}
        <div class="card shadow">
            <div class="card-header">
                <a href="{{ tweet['username'] }}"></a>  By {% if tweet['name'] %}
                    {{ ' ' + tweet['name'] }}
                {% endif %}  @{{tweet['username']}}
            </div>
            <div class="card-body">
                <h5 class="card-text"></h5>
                <p class="card-title">{{tweet['tweet_content']}}</p>
            </div>
            <div class="card-footer text-muted">
                tweeted {{ tweet['tweet_at'] }}
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}